@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.hstyle{
  font-family: 'Source Sans Pro', sans-serif;
}

.fstyle{
  font-family: 'Montserrat', sans-serif;
}

.test{
  background-color: #f7e8df;
  width: 100%;
}

.test2{
  align-items: center;
}

.test5{
  padding-left: 5vw;
  padding-right: 5vw;
}

:root {
  --mainColor: #ff9800;
  --othermain: #000000;
}

a.st {
  color: transparent;
  text-decoration: none;
  -webkit-text-stroke: 1px var(--othermain);
  border-bottom: 2px dashed #b57f8c;
}

a.st:hover {
  color: var(--othermain);
  text-decoration:none;
  -webkit-text-stroke: 2px transparent;
  background-color:  #f7e8d9;
  border-bottom: none;
}

a.st1 {
  color: transparent;
  text-decoration: none;
  -webkit-text-stroke: 1px var(--othermain);
  border-bottom: 2px dashed #7fb5a5;
}

a.st1:hover {
  color: var(--othermain);
  text-decoration:none;
  -webkit-text-stroke: 2px transparent;
  background-color:  #dff7f1;
  border-bottom: none;
}

a.st3 {
  color: transparent;
  text-decoration: none;
  -webkit-text-stroke: 1px var(--othermain);
}

.st2 {
  color: transparent;
  text-decoration: none;
  -webkit-text-stroke: 1px var(--othermain);
}

a.st2:hover {
  color: var(--othermain);
  text-decoration:none;
  -webkit-text-stroke: 2px transparent;
  background-color:  #dff7e3;
}
@supports not(-webkit-text-stroke: 2px red) {
  a.st:hover {
    text-decoration:none;
    text-shadow:
      3px 3px 0 var(--mainColor),
      -1px -1px 0 var(--mainColor),
      1px -1px 0 var(--mainColor),
      -1px 1px 0 var(--mainColor),
      1px 1px 0 var(--mainColor);
  }
}

@supports not(-webkit-text-stroke: 2px red) {
  a.st1:hover {
    text-decoration:none;
    text-shadow:
      3px 3px 0 var(--mainColor),
      -1px -1px 0 var(--mainColor),
      1px -1px 0 var(--mainColor),
      -1px 1px 0 var(--mainColor),
      1px 1px 0 var(--mainColor);
  }
}

@supports not(-webkit-text-stroke: 2px red) {
  a.st2:hover {
    text-decoration:none;
    text-shadow:
      3px 3px 0 var(--mainColor),
      -1px -1px 0 var(--mainColor),
      1px -1px 0 var(--mainColor),
      -1px 1px 0 var(--mainColor),
      1px 1px 0 var(--mainColor);
  }
}

.container1{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



.se-card{
  margin: 20px;

}
.se-card-image{
  border-radius: 10px;
  width: 70vw;;

}
.card-image {
    width: 45vw;
  }

.card-image1 {
    width: 60vw;
  }
  .box{
    width: 200px;
    height: 333px;

  }

@media only screen
and (min-device-width : 600px)
and (max-device-width : 900px) {
  .se-card-image {
      width: 80vw;
    }
  .card-image {
      width: 40vw;
    }

    .card-image1 {
        width: 50vw;
      }

      .box{
        width: 250px;

        height: 450px;

      }
}

@media only screen
and (min-device-width : 900px)
and (max-device-width : 1024px) {
  .se-card-image {
      width: 60vw;
    }
    .card-image {
        width: 50vw;
      }
      .card-image1 {
          width: 60vw;
        }
        .box{
          width: 220px;
          height: 367px;

        }
}



@media only screen and (max-width: 600px) {
.se-card-image {
    width: 90vw;
  }
  .card-image {
      width: 65vw;
    }

    .card-image1 {
        width: 75vw;
      }
      .box{
        width: 270px;
        height: 450px;

      }
}




@media only screen and (min-width: 1200px) {
.se-card-image {
    width: 50vw;
  }
  .card-image {
      width: 33vw;
    }

    .card-image1 {
        width: 50vw;
      }
      .box{
        width: 230px;
        height: 384px;

      }
}
.calign{
  text-align: center;
}
